APP_ENV=development
APP_PORT=8080
APP_LOG_LEVEL=info
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=ela
DATABASE_SSL_MODE=disable
DATABASE_TIMEZONE=UTC
JWT_SECRET=change-me-in-production
JWT_EXPIRY_SECONDS=3600
